@import '@acme/ui/styles/globals.css';
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

#nav-toggler,
.template-default nav:first-child,
.template-default aside:first-child,
.app-header {
  display: none;
}
.template-default {
  display: flex !important;
  max-width: 100vw !important;
  width: 100% !important;
  justify-content: center !important;
  // max-width: 86rem !important;
  // padding-right: 2rem !important;
  // padding-left: 2rem !important;
  // justify-content: stretch !important;
}
.table {
  width: 100%;
}

.template-default__wrap {
  padding-top: var(--gutter-h) !important;
  overflow-x: hidden !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

// body {
//   margin: 0px !important;
// }

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// // body
// //   > div.group\/sidebar-wrapper.flex.min-h-svh.w-full.has-\[\[data-variant\=inset\]\]\:bg-sidebar
// //   > div.flex.flex-1
// //   > main
// //   > div
// //   > div {
// //   width: 100% !important;
// // }

body > div.payload-admin-container > div > div.flex.flex-1 > main > div > div {
  width: 100% !important;
  justify-content: center !important;
}
